{% extends "base.html.twig" %}

{% block title %} {{ titulo }} {% endblock %}

{% block body %}

{% for message in app.flashes('commit') %}
<div class='alert alert-success'>
    {{ message }}
</div>
{% endfor %}

{{ form(form) }}
<a href="{{path("listagem_gado")}}" class="btn btn-primary">Retornar a
    listagem</a>

{% endblock %}