{% extends "base.html.twig" %}

{% block title %} {{ titulo }} {% endblock %}

{% block body %}
    {{ form(form) }}
    <a href="{{path("listagem_gado")}}" class="btn btn-primary">Retornar a listagem</a>
{% endblock %}